{% extends "base.html" %}

{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'css/style_addFriend.css' %}"/>
</head>
<body>
<section name="input-list" id="input-list">
    <div class="container">
        <br>
        <h2><img src="https://cdn4.iconfinder.com/data/icons/eldorado-user/40/add_friend-512.png"/ style="width:4.5rem; padding-right: 1rem;"><strong>Add Friend</strong></h2>
        <form id="form" method="POST" action="{% url 'add:add_friend' %}">
            {% csrf_token %}
            <table>
            {% for form in add_friend_form %}
                <tr>
                    <td width="8%" style="padding-top: 0.5rem;">
                        {{ form.label_tag }}
                    </td>
                    <td width="92%">
                        {{ form }}
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% if messages %}
                <div class="messages" style="color: red;text-align: center;">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <input id="submit" type="submit" class="btn btn-md btn-block btn-primary" value="Add Friend" style="text-align: center; margin-top: 0.7rem; font-size: 110%;">
            <br>
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <h2 class="my-list-title">List friend</h2>
        <br>
        <div class="flex">
            {% if allFriends %}
                {% for data in allFriends %}
                    <div class="card effect__hover">
                        <div class="card__front">
                            <div class="to-do-list-name">
                                {{data.name}}
                            </div>
                            <div class="to-do-list-date-added">
                                Since {{data.created_date}}
                            </div>
                            <br>
                            <img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Cinema-Ninja-Turtle-icon.png" style="width: 4rem; height:4rem;border-radius: 50%;"/>
                            <hr>
                        </div>
                        <div class="card__back">
                            <br>
                            <img id="walking-turtle" src="https://png.icons8.com/windows/1600/0063B1/turtle" style="width: 4rem; height:4rem;border-radius: 50%;"/>
                            <div class="to-do-list-url">
                                <a href="{{data.url}}" target="_blank"><button class="btn btn-md btn-primary" id="visit">Visit your friend</button></a>
                            </div>
                            <div class="to-do-list-delete">
                               <a href="{% url 'add:index' %}unfriend/{{data.id}}"> <button class="btn btn-md btn-danger" id="delete" data-id="{{data.id}}">Unfriend</button></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Jomblo!</strong> Cari teman dong!
            </div>
            {% endif %}
        </div>
    </div>
</section>

</body>
{% endblock %}
