{% extends "base.html" %} {% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'css/style_stats.css' %}"/>
</head>

<br>

<section name="stats" id="stats">
  <h2><img src="https://image.flaticon.com/icons/png/512/39/39915.png" style="width:3.5rem; padding-right: 1rem; padding-bottom: 0.7rem;"><strong>Statistics</strong></h2>
    <div class="contain-numbers">
        <div class="container friends">
            <img class="img-normal" src="{{img_url}}"/>
        </div>
        <div class="container feeds">
            <h2 class="title-stats" style="text-align: left; font-size:35px">Kura-Kura Company</h2><br>
            <div class="description" style="font-size:35px">
                <strong>Friends</strong> {{ jumlah_teman }} People
                <br>
                <strong>Feed</strong> {{ jumlah_stats }} Post
            </div>
        </div>
    </div>
</section>

<!-- <div class="haha"> -->
    <div class="text-head">Latest post</div>
    <div class="container">
            {% if latest_stats %}
                    <div class="flex-item">
                        <div class="status-list">
                            <p> <img class=top src={{img_url}} style="width:3rem; height:3rem;"/> <strong style="color:black"> Kura-Kura Company </strong></p>
                                <br>

                            <div class="isi-status">
                                {{latest_stats.isi}}
                            </div>
                            <div class="date-added">
                                {{latest_stats.created_date}}
                            </div>
                        </div>
                    </div>
                    </br>

            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Takde status.
            </div>
            {% endif %}
    </div>
<!-- <div> -->
{% endblock %}
