{% extends "base.html" %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href = "{% static 'css/style_profile.css' %}"/>
</head>
<div class="container">
  <br>
  <h2><img src="https://pbs.twimg.com/media/DL8YAVCUEAAfNHl.png:large"/ style="width:4.5rem; padding-right: 1rem;"><strong>Profile</strong></h2>
  <br>
  <p/><img src="https://media.tenor.com/images/69a94edcadf2ca7eab1d082441a004d4/tenor.gif" style="width:20rem;"/></p>
  <h3><center><img src="http://simpleicon.com/wp-content/uploads/user1.png" style="width:2rem;"/> {{ profile.name }} </center></h3><br>
<div class="to-do-list">
  <table class="table">
    <tr>
      <td><img src="https://pbs.twimg.com/media/DL8hzMUV4AAOsPq.png:large" style="width:2rem;"/></td>
      <td><h5>Birthday</h5></td>
      <td><h6>{{ profile.birthdate }}</h6></td>
    </tr>
    <tr>
      <td><img src="https://pbs.twimg.com/media/DL8h_CvU8AEF6xg.png:large" style="width:2rem;"/></td>
      <td><h5>Gender </h5></td>
      <td><h6>{{ profile.gender }}</td></h6>
    </tr>
    <tr>
      <td><img src="https://pbs.twimg.com/media/DL8iJnkVAAADCM9.png:large" style="width:2rem; padding-top: 0.5rem;"/></td>
      <td id="expert"><h5> Expertise </h5></td>
      <td>
        <table>
          <tr>
            {%for experts in split_expertise%}
              <td><h6><span class="expertise">{{ experts }}</span></h6></td>
            {%endfor%}
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td><img src="https://pbs.twimg.com/media/DL8idbQU8AE5cgC.png:large" style="width:2rem;"/></td>
      <td><h5>Description </h5></td>
      <td><h6>{{ profile.description }}</h6></td>
    </tr>
    <tr>
      <td><img src="https://maxcdn.icons8.com/Share/icon/nolan/User_Interface//email1600.png" style="width:2rem;"/></td>
      <td><h5>Email </h5></td>
      <td><h6>{{ profile.email }}</h6></td>
    </tr>
  </table>
</div>
</div>
{% endblock %}
