
.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
}

p{
  text-align: center;
}

h5{
  display: inline;

}

h6{
  display: inline;
}

.table{
  border: 10px solid pink;
  width: 50%;
  margin: auto;
}

td, th{
  border: 1px solid #EBEBCB;
}

#expert{
  padding-top: 1.5rem;
}

.expertise{
  padding: 7px;
  border: 3px dotted pink;
  border-radius: 10px;

}

.expertise:hover {
  border-color: purple;

}
</style>
