img {
  float: left;
  margin: 0 0 10px 10px;
}
div {
  clear: left;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  color : #99aab5;
}

.container{
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
    margin: 0px 0px 125px 125px;
}
.clearfix{
  font-size: 125%;
  overflow: auto;
}
.isi-status{
  font-family: "Helvetica";
  font-size: 125%;
  margin-left: 10px;
  color : #99aab5;

}
.date-added{
  color: grey;
  font-size: 100%;
  margin-left: 10px;
}
.brand-logo{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container{
  padding-left: 65px;
  padding-right: 65px;
  font-family: Helvetica;
}
#my-list{
  align-items: center;
}

#form{
  font-family: Helvetica;
}
#submit{
    margin-top: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 110%;
    border-radius: 10px;
    color: white;
}
#submit:hover{
      background-color: #4CAF50;
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-item{
        width:100%;
    }
}