<style>
.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
    border: 10px solid pink;
}

p{
  text-align: center;
}

.btn-danger{
   border-radius: 33%;
}
</style>
