p{
  font-size: 125%;
}

img {
  float: left;
  margin: 0 0 10px 10px;
}

img.top{
  vertical-align: text-top;
}

div {
  clear: left;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  color : #99aab5;
}

input {
  background-color: #765942;
  border-color: #765942;
  height: 50px;
}

.clearfix{
  overflow: auto;
}

.form-control {
  border: 2px solid #765942;
  border-radius: 10px;
  height: 100px;
  width: 100%;
}

.status-list {
  width: 90%;
  margin: 20px auto;
  background: white;
  border: 0 none;
  border-radius: 25px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.container{
    max-width: 90%;
    float: center;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Helvetica;
}

.clearfix{
  font-size: 125%;
  overflow: auto;
}

.isi-status{
  font-family: "Helvetica";
  font-size: 125%;
  margin-left: 10px;
  color : #242e3d;
}

.date-added{
  font-family: "Helvetica";
  font-size: 100%;
  margin-left: 10px;
  color : #616770;
}


@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-item{
        width:100%;
    }
}