@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}


p{
  font-size: 125%;
}

/*img.top{
  vertical-align: text-top;
}*/

div {
  clear: left;
}

body{
  background-color: #ebebcb;
}

input {
  background-color: #765942;
  border-color: #765942;
  height: 50px;
}

.clearfix{
  overflow: auto;
}

.form-control {
  border: 2px solid #765942;
  border-radius: 10px;
  height: 100px;
  width: 100%;
}

.status-list {
  width: 90%;
  margin: 20px auto;
  background: white;
  border: 0 none;
  border-radius: 25px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  word-wrap: break-word;
}

.container2{
    max-width: 90%;
    float: center;
    margin-left: 40px;
    margin-right: 40px;
    font-family: Raleway;
}

.container{
    max-width: 90%;
    float: center;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Raleway;
}

.clearfix{
  font-size: 125%;
  overflow: auto;
}

.isi-status{
  font-family: Raleway;
  font-size: 125%;
  margin-left: 10px;
  color : #242e3d;
}

.date-added{
  font-family: Raleway;
  font-size: 100%;
  margin-left: 10px;
  color : #616770;
}
.delete-status{
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 100;
}
#delete{
  border-radius: 10px;
}

#submit-custom{
  background-color: #765942;
  border-color: #765942;
  height: 50px;
  border-radius: 10px;
}

#submit-custom:hover{
    background-color: #c47338;
    border-color: #c47338;
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-item{
        width:100%;
    }
}
