body{
    background-color: #7289da;
    text-align: center;
    color: white;
    font-family: Helvetica;
}

@keyframes fadeInDown {
  0% {
      transform: translate3d(0, -600%, 0);
  }

  100% {
    transform: translate3d(0, 275%, 0);
  }
}
@keyframes fadeOut{
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
div {
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-name: fadeOut;
    animation-delay: 3s;
}
.title_container{
    background-color: #7289da;
    width: 100%;
    height: 10%;
    text-align: center;
    color: white;
    font-family: Helvetica;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-name: fadeInDown;
}

.container{
    background-color: #7289da;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    font-family: Whitney;
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}