.img-normal {
    display: block;
    margin: auto;
    /* width: 300; */
    /* height: 300;    */
    /* width: 4em; */
    width: 500px;
    /* background-color: red; */
    /* height:50px; */
}

.friends,
.feeds {
    font-size: 25px;
    text-align: center;
    margin-bottom: 3rem;
    color: #7289da;
}

.profile-name {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10rem;
}

.contain-numbers {
    display: flex;
}

.container {
    max-width: 90%;
    float: center;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Helvetica;
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-item {
        width: 100%;
    }
}

.status-list {
    width: 90%;
    margin: 20px auto;
    background: #424549;
    border: 0 none;
    border-radius: 25px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.text-head {
    font-size: 36px;
    text-align: center;
    color: #99aab5;
}

.title-stats {
    text-align: center;
    color: #99aab5;
}

.isi-status {
    font-family: "Helvetica";
    font-size: 125%;
    margin-left: 10px;
    color: #ffffff;
}

.date-added {
    font-family: "Helvetica";
    font-size: 100%;
    margin-left: 10px;
    color: #616770;
}