 h2 {
        font-family: Helvetica;
    }
.clearfix{
    font-size: 125%;
    overflow: auto;
}
.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
}
td{
    font-family: Helvetica;
}
#form{
    font-family: Helvetica;
}
#submit{
    margin-left: 63.6rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 110%;
    background-color: #333;
    border-radius: 10px;
    color: white;
}