h2 {
    font-family: Helvetica;
}
.clearfix{
    font-size: 125%;
    overflow: auto;
}
.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
}
td{
    font-family: Helvetica;
}
#form{
    font-family: Helvetica;
}
#submit{
    margin-top: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 110%;
    border-radius: 10px;
    color: white;
}
.to-do-list{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin-bottom: 35px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.to-do-list:after{
    content:"";
    display:block;
    background: #fff;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
}
.flex-item{
    padding: 0 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.to-do-list:hover{
    box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
}
.to-do-list .to-do-list-title {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
    font-size: 12px;
    padding: 0 10px;
}
.to-do-list .to-do-list-description {
    padding: 10px 25px;
    z-index: 15;
    background: #fff;
    text-align: justify;
    overflow: auto;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-item{
        width:100%;
    }
}