
.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
}

.table{
  border: 10px solid blue;
  border-radius: 10px;
  width: 50%;
  margin: auto;
}

td, th{
  border: 1px solid #EBEBCB;
}

#expert{
  padding-top: 1.5rem;
}

.expertise{
  padding: 7px;
  margin: 5px;
  border: 3px dotted pink;
  border-radius: 10px;

}

.expertise:hover {
  border-color: purple;

}
</style>
