#expert{
  padding-top: 1.5rem;
}

@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}

h2 {
    font-family: Raleway;
}
h3{
  font-family: Raleway;
  color: #765942;
  text-shadow: 2px 2px 5px #a06236;
}

p{
  text-align: center;
}

td, th{
  font-family: Raleway;
  border: 1px solid #EBEBCB;
}

.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
}

.table{
  border: 10px double #765942;
  width: 40%;
  margin: auto;
}

.expertise{
  font-family: Raleway;
  padding: 7px;
  border: 3px dotted #765942;
  border-radius: 10px;
}

.expertise:hover {
  border-color: #c47338;
}

.table:hover{
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 0px #a06236;
  }
  to {
    box-shadow: 0 0 10px #a06236,
    0 0 20px #a06236, 0 0 30px #a06236,
    0 0 40px #a06236, 0 0 70px #a06236,
    0 0 80px #a06236, 0 0 100px #a06236,
    0 0 150px #a06236;
  }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    td,th{
      display: inline-block;
    }
  }
