#expert{
  padding-top: 1.5rem;
}

@font-face {
    font-family: our.font;
    src: url(https://fonts.google.com/specimen/Raleway);
}

h2 {
    font-family: ourFont;
}
h3{
  color: #a06236;
  text-shadow: 2px 2px 5px #c47338;
}

p{
  text-align: center;
}

td, th{
  border: 1px solid #EBEBCB;
}

.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
}

.table{
  border: 10px double #a06236;
  width: 40%;
  margin: auto;
}

.expertise{
  padding: 7px;
  border: 3px dotted #a06236;
  border-radius: 10px;
}

.expertise:hover {
  border-color: #c47338;
}

.table:hover{
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 0px #c47338;
  }
  to {
    box-shadow: 0 0 10px #c47338,
    0 0 20px #c47338, 0 0 30px #c47338,
    0 0 40px #c47338, 0 0 70px #c47338,
    0 0 80px #c47338, 0 0 100px #c47338,
    0 0 150px #c47338;
  }
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    td,th{
      display: inline-block;
    }
  }
