.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
  }

p{
  text-align: center;
}

h3{
  text-shadow: 2px 2px 5px red;
}

.table{
  border: 10px double pink;
  width: 40%;
  margin: auto;
}

td, th{
  border: 1px solid #EBEBCB;
}

#expert{
  padding-top: 1.5rem;
}

.expertise{
  padding: 7px;
  border: 3px dotted pink;
  border-radius: 10px;

}

.expertise:hover {
  border-color: purple;

}

.to-do-list:hover{
  width: 50%;
  margin: auto;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
  -webkit-animation: neon 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon {
  from {
    box-shadow: 0 0 0px pink;
  }
  to {
    box-shadow: 0 0 10px pink,
    0 0 20px pink, 0 0 30px pink,
    0 0 40px pink, 0 0 70px pink,
    0 0 80px pink, 0 0 100px pink,
    0 0 150px pink;
  }
}

</style>
