img {
  float: left;
  margin: 0 0 10px 10px;
}
div {
  clear: left;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  color : #99aab5;
}
.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
}
.flex-item{
    padding: 0 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    width: 70%;

}
.status-list{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin-bottom: 35px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.status-list:after{
    content:"";
    display:block;
    background: #fff;
}
.clearfix{
  font-size: 125%;
  overflow: auto;
}
.isi-status{
  font-family: "Helvetica";
  font-size: 125%;
  margin-left: 10px;
  color : #99aab5;

}
.date-added{
  color: grey;
  font-size: 100%;
  margin-left: 10px;
}
.brand-logo{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container{
  float: center;
  padding-left: 65px;
  padding-right: 65px;
  font-family: Helvetica;
}
#form{
  font-family: Helvetica;
}
#submit{
    margin-top: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 110%;
    border-radius: 10px;
    color: white;
}
#submit:hover{
      background-color: #4CAF50;
}
@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-item{
        width:100%;
    }
}