img {
  float: left;
  margin: 0 0 10px 10px;
}
div {
  clear: left;
}
h2 {
  font-family: 'Times New Roman', Times, serif;
  color : #99aab5;
}
.clearfix{
  font-size: 125%;
  overflow: auto;
}
.isi-status{
  font-family: "Helvetica";
  font-size: 125%;
  margin-left: 10px;
  color : #99aab5
}
.date-added{
  color: grey;
  font-size: 100%;
  margin-left: 10px;
}

.topnav{
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav b {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.topnav a.active{
  background-color: #4CAF50;
  color: white;
}

.brand-logo{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container{
  float: center;
  padding-left: 65px;
  padding-right: 65px;
  font-family: Helvetica;
}
#form{
  font-family: Helvetica;
}
#submit{
      margin-left: 66.5rem;
      margin-top: 0.5rem;
      padding: 0.3rem;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      font-size: 110%;
      background-color: #333;
      border-radius: 10px;
      color: white;
  }
  #submit:hover{
      background-color: #4CAF50;
}