h2 {
    font-family: Helvetica;
}
.clearfix{
    font-size: 125%;
    overflow: auto;
}
.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
}
td{
    font-family: Helvetica;
}
#form{
    font-family: Helvetica;
}
#submit{
    margin-top: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 110%;
    border-radius: 10px;
    color: white;
}
#submit:hover{
      background-color: #4CAF50;
}
#visit{
    margin-top: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 110%;
    border-radius: 10px;
    color: white;
}
.to-do-list{
    text-align: center;
    background: #fff;
    position: relative;
    z-index: 15;
    margin-bottom: 35px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.to-do-list:after{
    content:"";
    display:block;
    background: #fff;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
}
.flex-item{
    padding: 0 10px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
.to-do-list:hover{
    box-shadow: 1px 1px 41px 0px rgba(0,0,0,0.75);
}
.to-do-list .to-do-list-name {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 10px 0;
}
.to-do-list .to-do-list-date-added {
    font-size: 12px;
    padding: 0 10px;
}
.to-do-list .to-do-list-url {
    padding: 10px 25px;
    z-index: 15;
    background: #fff;
    text-align: justify;
    overflow: auto;
    text-align: center;
    border:3px solid blue;
}

.card {
    position: relative;
    padding-bottom: 25%;
    width: 25%;
    text-align: center;
    background-color: #EBEBCB;
    border-color: #EBEBCB;
    margin-bottom: 1rem;
    color: black;
}

.card__front,
.card__back {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 200px;
    border-radius: 25px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s;
          transition: transform 0.6s;
}

.card__front {
  background-color: white;
}

.card__back {
  background-color: white;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-item{
        width:100%;
    }
    .card{
        flex-direction: column;
        width: 100%;
        flex-wrap: wrap;
    }
}