<style>
.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
}

p{
  text-align: center;
}

h5{
  display: inline;
}

h6{
  display: inline;
}

.btn-danger{
   border-radius: 33%;
}
</style>
