{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tuita</title>
    <link rel="icon" href="https://pbs.twimg.com/media/DLn1mnTUMAAizTh.png:large">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
</head>
<style>
#navbarNav li img {
    margin-right: 1.5rem;
}
#navbarNav li b {
    font-family: Raleway;
    color: black;
    padding-top: 15px;
    margin-right: 1.5rem;
    display: none;
}
#navbarNav a:hover {
    color: #fff;
}
#navbarNav a:hover img {
    display: none;
}
#navbarNav a:hover b {
    display: block;
    padding: 10px;
    border-radius: 5px;
}
.subject{
    font-size: 20px;
    font-family: Raleway;
    color: #6650ff;
}
.value{
    font-size: 20px;
    font-family: Raleway;
    color: #ff102c;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
header{
    margin-top: 75px;
}

</style>
<body style="background-color: #EBEBCB">
    <header>
        {% include "header.html" %}
    </header>
    <div class = "container">
        {% block content %}
        {% endblock %}
    </div>
    <footer class = "footer">
        {% include "footer.html" %}
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
