<style type="text/css">
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        /* Margin bottom by footer height */
        margin-bottom: 100px;
    }

    .footer {

        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 70px;
        line-height: 60px;
        /* Vertically center the text there */
        background-color: #9EA5A5;
        color: #ffffff;
    }

    .resize-container {
        position: relative;
        display: inline-block;
        cursor: move;
        margin: 0 auto;
    }

    .resize-container img {
        display: block
    }

    .resize-container:hover img,
    .resize-container:active img {
        outline: 2px dashed rgba(222, 60, 80, .9);
    }
</style>

<div class="container" style="text-align: center;">
    <span>Made with <span style="color: #fd0864">Love</span> and <span style="color: #fff000">Sad</span> by <span style="color: #33FF00">KuraKura</span>
    </span>
</div>
