<style>
    .container-fullwidth{
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }
</style>

<div class="container-fullwidth" style="color: black">
    <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/update/"><img src="https://pbs.twimg.com/media/DLzMU4-VAAAdrpL.jpg:large" width="100"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/update/"><img src="https://cdn2.iconfinder.com/data/icons/the-shine-of-small-things/128/shining_mix_document-128.png" width="50" height="50"><b>Update</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile/"><img src="https://cdn3.iconfinder.com/data/icons/tango-icon-library/48/go-home-128.png" width="50" height="50"><b>Profile</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add/"><img src="https://cdn2.iconfinder.com/data/icons/facebook-svg-icons-1/64/friend_finder-128.png" width="50" height="50"><b>Friends</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/stats/"><img src="https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_18-128.png" width="50" height="50"><b>Stats</b></a>
          </li>
        </ul>
      </div>
    </nav>
</div>
