@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css?family=Raleway');
}

h2 {
    font-family: Raleway;
}

.clearfix{
    font-size: 125%;
    overflow: auto;
}

.container{
    max-width: 100%;
    float: center;
    padding-left: 65px;
    padding-right: 65px;
}

td{
    font-family: Raleway;
}

hr{
    border: 2px dotted #140D7A;
}

#form{
    font-family: Raleway;
}

.form-control {
  border: 2px solid #765942;
  border-radius: 10px;
}

#submit{
    margin-top: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 110%;
    border-radius: 10px;
    color: white;
    background-color: #765942;
    border-color: #765942;
}

#submit:hover{
    background-color: #c47338;
    border-color: #c47338;
}

#visit{
    margin-top: 0.5rem;
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 110%;
    border-radius: 10px;
    color: white;
}

.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-around;
}

.to-do-list-name {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 10px 0;
    color: #140D7A;
}

.to-do-list-date-added {
    font-size: 15px;
    padding: 0 10px;
    color: #807F87;
}

.to-do-list-url {
    padding: 10px 25px;
    z-index: 15;
    background: #fff;
    text-align: justify;
    overflow: auto;
    text-align: center;
}

#delete{
    padding: 0.3rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-size: 110%;
    border-radius: 10px;
    color: white;
}

.card {
    position: relative;
    width: 25%;
    background-color: #EBEBCB;
    border-color: #EBEBCB;
    margin-bottom: 1rem;
    color: black;
    padding-bottom: 13rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16rem;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.card:hover{
  top: -10px;
}

.card__front,
.card__back {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 200px;
    border-radius: 25px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s;
          transition: transform 0.6s;
}

.card__front {
  background-color: white;
}

.card__back {
  background-color: white;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 100%;
        float: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .flex{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .flex-item{
        width:100%;
    }
    .card, .card__front, .card__back{
        flex-direction: column;
        margin-bottom: 4rem;
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 40%;
    }
}
