{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href = "{% static 'css/style_appupdate.css' %}"/>
</head>


<body>
<section name="input-list" id="input-list">
	<div class="container2" >
		<form id="form" method="POST" action="{% url 'update:add_status' %}">
			<br>
            <h2><img src="http://findicons.com/files/icons/1580/devine_icons_part_2/512/defult_doc.png"/ style="width:4.5rem; padding-right: 1rem;"><strong>Update Status</strong></h2>
            </br>
			{% csrf_token %}
			{{ status_form }}
			</br>
			<input type="submit" class="btn-custom button btn btn-md btn-block btn-primary " value="Post" id="submit-custom">
		</form>
	</div>
</section>

</br>
    <div class="container">

            {% if status %}
                {% for data in status %}
                    <div class="flex-item">
                        <div class="status-list">
                            <p> <img class=top src={{img_url}} style="width:3rem; height:3rem;"/> <strong> Kura-Kura Company </strong></p>
                                <br>

                            <div class="isi-status">
                                {{data.isi}}
                            </div>
                            <div class="date-added">
                                {{data.created_date}}
                            </div>
                            <div class="delete-status">
                               <a href="{% url 'update:index' %}delete_status/{{data.id}}"> <button class="btn btn-md btn-danger" id="delete" data-id="{{data.id}}">Delete</button></a>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> Takde status.
            </div>
            {% endif %}

    </div>

</section>
</body>

{% endblock %}
