{% load static %}

</style>
<head>
	<title>Tuita</title>
	<link rel="stylesheet" type="text/css" href = "{% static 'css/style_welcomepage.css' %}"/>
</head>
<body>
	<div class="title_container">
		<br>
		<img src="https://pbs.twimg.com/media/DL69a0VVwAANUFn.png:large", width="300", height="300">
		<!-- <h1>Tuitaa</h1> -->
	</div>
	<br> <br> <br>
	<div class="container">
		<h1>Welcome back, Turtles!</h1>
		<img src="https://pbs.twimg.com/media/DLzIgLLUIAATlZY.png:large" style="width:20rem;"/>
		<div class="spinner">
		<div class="cube1"></div>
		<div class="cube2"></div>
		</div>
	</div>
	<br>

</body>

<meta http-equiv="refresh" content="4.5;url=/update/"/>
